[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule "Vim-Jinja2-Syntax"]
	path = .vim/plugged/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git

[submodule "coc.nvim"]
	path = .vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git

[submodule "lightline.vim"]
	path = .vim/plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git

[submodule "nerdtree"]
	path = .vim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git

[submodule "onedark.vim"]
	path = .vim/plugged/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git

[submodule "vim-commentary"]
	path = .vim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary.git

[submodule "vim-polyglot"]
	path = .vim/plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git

[submodule "vim-sensible"]
	path = .vim/plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible.git

[submodule "vim-surround"]
	path = .vim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround.git

[submodule "tabular"]
	path = .vim/plugged/tabular
	url = https://github.com/godlygeek/tabular

[submodule "goyo.vim"]
	path = .vim/plugged/goyo.vim
	url = https://github.com/junegunn/goyo.vim

[submodule "vim-markdown"]
	path = .vim/plugged/vim-markdown
	url = https://github.com/plasticboy/vim-markdown

[submodule "tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git

[submodule "tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git

[submodule "tmux-themepack"]
	path = .tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git

[submodule "tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git

[submodule ".vim/plugged/vim-lexical"]
	path = .vim/plugged/vim-lexical
	url = https://github.com/preservim/vim-lexical

[submodule ".vim/plugged/black"]
	path = .vim/plugged/black
	url = https://github.com/psf/black

[submodule ".vim/plugged/vim-plist"]
	path = .vim/plugged/vim-plist
	url = https://github.com/darfink/vim-plist

[submodule ".vim/plugged/fzf.vim"]
	path = .vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim

[submodule ".vim/plugged/fzf"]
	path = .vim/plugged/fzf
	url = https://github.com/junegunn/fzf

[submodule ".tmux/plugins/tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git

[submodule ".vim/plugged/vim-shfmt"]
	path = .vim/plugged/vim-shfmt
	url = https://github.com/z0mbix/vim-shfmt.git
[submodule ".vim/plugged/nerdtree-git-plugin"]
	path = .vim/plugged/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/plugged/vim-gitbranch"]
	path = .vim/plugged/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
