.venv
__pycache__
.config/coc/history.json
.config/coc/extensions/coc-*
.config/coc/*history.json
.config/karabiner/automatic_backups
.tmux/resurrect/*
.vim/.netrwhist
.vim/black
doc/tags
.vim/plugged
.config/coc/suggest.txt
.DS_Store
venv-nvim
.config/nvim/plugin
.config/nushell/history.txt