[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git

###############
# tmux plugs
###############
[submodule "tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git

[submodule "tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git

[submodule "tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git

[submodule "tmux-themepack"]
	path = .tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
