.config/coc/history.json
.config/coc/extensions/coc-yank-data/yank
__pycache__
.tmux/resurrect/*
.config/karabiner/automatic_backups
.venv
.vim/black
.config/coc/extensions/coc-*
.config/coc/list-extensions-history.json
