#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [
    ],
    tags: [
        "1",
        "2",
        "3",
        "4",
    ],
    max_window_width: 2400,
    layouts: [
        MainAndVertStack,
        Monocle,
    ],
    layout_mode: Workspace,
    insert_behavior: Bottom,
    scratchpad: [
        (
            name: "Alacritty",
            // value: "WINIT_X11_SCALE_FACTOR=1 alacritty -t \"Alacritty - Scratch\" -o window.opacity=0.8 -e bash -c \"tmux a -t scratch || tmux \\\"new-session;\\\" rename-session scratch\"",
            value: "WINIT_X11_SCALE_FACTOR=1 alacritty -t \"Alacritty - Scratch\" -o window.opacity=0.8 -e bash -c \"zellij a scratch || zellij -s scratch\"",
            x: 0.05,
            y: 35,
            height: 0.5,
            width: 0.9
        ),
    ],
    window_rules: [
        (window_class: None, window_title: "Steam", spawn_on_tag: None, spawn_floating: false),
        (window_class: "Steam.Steam", window_title: None, spawn_on_tag: None, spawn_floating: true),
        (window_class: None, window_title: "Picture-in-Picture", spawn_on_tag: None, spawn_floating: true),
    ],
    disable_current_tag_swap: false,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: ClickTo,
    focus_new_windows: true,
    sloppy_mouse_follows_focus: true,
    keybind: [
        (command: Execute, value: "rofi -modi drun,run -show drun", modifier: ["Control"], key: "space"),
        (command: Execute, value: "WINIT_X11_SCALE_FACTOR=1 alacritty", modifier: ["modkey", "Shift"], key: "Return"),
        // (command: Execute, value: "alacritty", modifier: ["modkey", "Shift"], key: "Return"),
        (command: CloseWindow, value: "", modifier: ["Control", "Shift"], key: "w"),
        (command: Execute, value: "autorandr -c", modifier: ["modkey", "Control"], key: "x"),
        (command: Execute, value: "autorandr -l docked", modifier: ["modkey", "Control"], key: "d"),
        (command: Execute, value: "autorandr -l undocked", modifier: ["modkey", "Control"], key: "u"),
        (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
        (command: HardReload, value: "", modifier: ["modkey", "Shift"], key: "c"),
        (command: Execute, value: "loginctl kill-session $XDG_SESSION_ID", modifier: ["modkey", "Shift"], key: "x"),
        (command: Execute, value: "slock", modifier: ["modkey", "Control"], key: "l"),
        (command: SwapTags, value: "", modifier: ["modkey"], key: "w"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Alt"], key: "h"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Alt"], key: "l"),
        (command: MoveWindowTop, value: "", modifier: ["modkey"], key: "Return"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "h"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "l"),
        (command: IncreaseMainWidth, value: "3", modifier: ["modkey", "Shift"], key: "l"),
        (command: DecreaseMainWidth, value: "3", modifier: ["modkey", "Shift"], key: "h"),
        (command: NextLayout, value: "", modifier: ["modkey"], key: "backslash"),
        (command: SetLayout, value: "MainAndVertStack", modifier: ["modkey"], key: "t"),
        (command: SetLayout, value: "Monocle", modifier: ["modkey"], key: "m"),
        (command: ToggleFloating, value: "", modifier: ["modkey"], key: "f"),
        (command: ToggleFullScreen, value: "", modifier: ["modkey"], key: "s"),
        (command: FocusNextTag, value: "", modifier: ["Alt"], key: "l"),
        (command: FocusPreviousTag, value: "", modifier: ["Alt"], key: "h"),
        (command: FocusNextTag, value: "", modifier: ["modkey"], key: "Right"),
        (command: FocusPreviousTag, value: "", modifier: ["modkey"], key: "Left"),
        (command: ReturnToLastTag, value: "", modifier: ["Control"], key: "Tab"),
        (command: Execute, value: "rofi -show window -show-icons -selected-row 1 -kb-accept-entry \'!Alt-Tab,Return\' -kb-row-down \'Alt-Tab\' kb-row-up \'Alt-Shift-Tab\' -kb-cancel \'Alt-Escape,Escape\'", modifier: ["Alt"], key: "Tab"),
        (modifier: ["Alt"], key: "1", command: GotoTag, value: "1"),
        (modifier: ["Alt"], key: "2", command: GotoTag, value: "2"),
        (modifier: ["Alt"], key: "3", command: GotoTag, value: "3"),
        (modifier: ["Alt"], key: "4", command: GotoTag, value: "4"),
        (modifier: ["Alt"], key: "5", command: GotoTag, value: "5"),
        (modifier: ["Alt"], key: "6", command: GotoTag, value: "6"),
        (modifier: ["Alt"], key: "7", command: GotoTag, value: "7"),
        (modifier: ["Alt"], key: "8", command: GotoTag, value: "8"),
        (modifier: ["Alt"], key: "9", command: GotoTag, value: "9"),
        (command: MoveToTag, value: "1", modifier: ["Alt", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["Alt", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["Alt", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["Alt", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["Alt", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["Alt", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["Alt", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["Alt", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["Alt", "Shift"], key: "9"),
        (command: Execute, value: ".config/leftwm/scripts/play-pause", modifier: None, key: "XF86XK_AudioPlay"),
        (command: Execute, value: "playerctl next", modifier: None, key: "XF86XK_AudioNext"),
        (command: Execute, value: "playerctl previous", modifier: None, key: "XF86XK_AudioPrevious"),
        (command: Execute, value: ".config/leftwm/scripts/volume up", modifier: None, key: "XF86XK_AudioRaiseVolume"),
        (command: Execute, value: ".config/leftwm/scripts/volume down", modifier: None, key: "XF86XK_AudioLowerVolume"),
        (command: Execute, value: ".config/leftwm/scripts/volume mute", modifier: None, key: "XF86XK_AudioMute"),
        (command: Execute, value: ".config/leftwm/scripts/brightness up", modifier: None, key: "XF86XK_MonBrightnessUp"),
        (command: Execute, value: ".config/leftwm/scripts/brightness down", modifier: None, key: "XF86XK_MonBrightnessDown"),
        (command: Execute, value: "spectacle -fbi", modifier: ["Control", "Shift"], key: "3"),
        (command: Execute, value: "spectacle -fbic", modifier: ["Control", "Mod4", "Shift"], key: "3"),
        (command: Execute, value: "spectacle -rbi", modifier: ["Control", "Shift"], key: "4"),
        (command: Execute, value: "spectacle -rbic", modifier: ["Control", "Mod4", "Shift"], key: "4"),
        (command: Execute, value: "scripts/resync_a2dp", modifier: ["Shift"], key: "XF86XK_AudioRaiseVolume"),
        (command: Execute, value: "scripts/resync_hfp", modifier: ["Shift"], key: "XF86XK_AudioLowerVolume"),
        (command: ToggleScratchPad, value: "Alacritty", modifier: ["Alt"], key: "t"),
        (command: Execute, value: "xkill", modifier: ["Control", "Alt"], key: "Escape"),
        (command: Execute, value: "dunstctl set-paused toggle", modifier: ["Alt"], key: "d"),
        (command: Execute, value: "CM_LAUNCHER=rofi clipmenu -p clipboard", modifier: ["Control", "Alt"], key: "v"),
    ],
    state_path: None,
)
