/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */
/* Styling for Dark Theme */


/* Plain Texts and LaTex */
.ace_text.ace_xml {
	color: white !important;
}

/* Checkboxes */
.ace_variable {
	color: hsl( 95, 38%, 62%) !important;
}

/* Headings */
.ace_heading {
	color: hsl(207, 82%, 66%) !important;
}

/* Strongs */
.ace_string.ace_strong {
	color: hsl(187, 47%, 55%) !important;
	font-weight: bold !important;
}

/* Italics */
.ace_string.ace_emphasis {
	color: hsl(187, 47%, 55%) !important;
	font-style: italic !important;
}

/* Line Breaks */
.ace_constant.ace_language.ace_escape {
	color: hsl(286, 60%, 67%) !important;
}

/* Lists and Checkboxes */
.ace_list {
	color: hsl(220, 14%, 71%) !important;
}

/* Inline Codes and Codeblocks */
.ace_support.ace_function {
	color: hsl(355, 65%, 65%) !important;
}

/* Link and Image Texts */
.ace_string {
	color: hsl(355, 65%, 65%) !important;
}

/* Links and Images */
.ace_markup.ace_underline {
	color: hsl(187, 47%, 55%) !important;
}

/* Input Fields: Search (Global, Local), Note Title */
/* .header input { */
input {
	border-radius: 14px !important;
	border: 1px solid rgb(85, 85, 85);
	outline: none;
	/*
	background-color: #888888 !important;
	*/
}