[Unit]
Description=Key Repeat Configuration
After=suspend.target

[Service]
User=mike
Type=oneshot
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/sleep 1
ExecStart=/home/mike/.config/xkbcomp/set-key-repeat

[Install]
WantedBy=multi-user.target
