[Unit]
Description=Key Repeat Configuration
After=suspend.target

[Service]
User=mike
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/sleep 15
ExecStart=/home/mike/.config/xkbcomp/set-key-repeat
Restart=always

[Install]
WantedBy=multi-user.target
