[Unit]
Description=User resume actions
After=suspend.target

[Service]
User=mike
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/sleep 15
ExecStart=/bin/sh /home/mike/.config/xkbcomp/vim-keys-xkb.sh

[Install]
WantedBy=suspend.target
